.zero-opa{
    opacity: 0;
}

.scrolled{
    opacity: 0;
    transform: translateY(20px);
    animation: scroll-in 3s forwards;
    animation-timing-function: cubic-bezier(0,.94,0,.94);
}

@keyframes scroll-in{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.left{
    opacity: 0;
    transform: translateX(-20px);
    animation: left-in 3s forwards;
    animation-timing-function: cubic-bezier(0,.94,0,.94);
}

@keyframes left-in{
    0%{
        opacity: 0;
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.right{
    opacity: 0;
    transform: translateX(20px);
    animation: right-in 3s forwards;
    animation-timing-function: cubic-bezier(0,.94,0,.94);
}

@keyframes right-in{
    0%{
        opacity: 0;
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.down {
    opacity: 0;
    transform: translateY(-20px);
    animation: down-in 3s forwards;
    animation-timing-function: cubic-bezier(0,.94,0,.94);
}

@keyframes down-in{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
