html, * {
    box-sizing: border-box;
    font-size: 100%;
}

*::before, *::after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    background-color:var(--theme);
    color: hsl(0%, 0%, 100%);
    font-family:sans-serif;
    overflow-x: hidden;
}

button{
    border: 0;
}

ul{
    list-style: none;
}