:root{
    --brand-color:rgb(255, 181, 74);
    --darker-brand:rgb(249,136,13);
    --theme:#fff;
    --theme-contrast: #000000;
    --background-color:hsl(0%, 0%, 11%);
    --color: hsl(0%, 0%, 100%);
    --silk-brand:rgb(252, 205, 154);


    --dark-timeline-color: rgb(36, 41, 45);
    --dark-timeline-content-color:#2f363e;

}